# Build directory
build/
out/
build-debug/
build-release/

# CMake build files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
*.cmake
!CMakeLists.txt

# IDEs
.vs/
.vscode/
.idea/
*.swp
*.swo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
