[project]
name = "cforge"
version = "3.0.1"
description = "A C/C++ build tool with dependency management"
cpp_standard = "17"
binary_type = "executable"
authors = ["Chase Sunstrom <casunstrom@gmail.com>"]
homepage = "https://github.com/ChaseSunstrom/cforge"
repository = "https://github.com/ChaseSunstrom/cforge.git"
license = "Polyform Noncommercial 1.0.0"

[build]
build_type = "Debug"
directory = "build"
source_dirs = ["src"]
include_dirs = ["include"]
export_compile_commands = true

[build.config.debug]
optimize = "debug"
debug_info = true
warnings = "all"
defines = ["DEBUG=1", "FMT_UNICODE=0"]

[build.config.release]
optimize = "agressive"
warnings = "all"
lto = true
defines = ["NDEBUG=1", "FMT_UNICODE=0"]

[package]
enabled = true
generators = ["ZIP", "TGZ", "DEB"]
vendor = "Chase Sunstrom"
contact = "Chase Sunstrom <casunstrom@gmail.com>"

[dependencies]
directory = "vendor"
tomlplusplus = "3.4.0"
fmt = "11.1.4"
