[project]
name = "cforge"
version = "2.2.1"
description = "A C/C++ build tool with dependency management"
cpp_standard = "17"
binary_type = "executable"
authors = ["Chase Sunstrom <casunstrom@gmail.com>"]
homepage = "https://github.com/ChaseSunstrom/cforge"
repository = "https://github.com/ChaseSunstrom/cforge.git"
license = "MIT"

[build]
build_type = "Debug"
directory = "build"
source_dirs = ["src"]
include_dirs = ["include"]

[build.configs.debug]
defines = ["DEBUG=1", "FMT_HEADER_ONLY=ON", "FMT_UNICODE=0"]
flags      = ["DEBUG_INFO", "NO_OPT"]

[build.configs.release]
defines    = ["NDEBUG=1", "FMT_HEADER_ONLY=ON", "FMT_UNICODE=0"]
flags      = ["OPTIMIZE"]

[test]
enabled = false

[package]
enabled = true
generators = ["ZIP", "TGZ", "DEB"]
vendor = "Chase Sunstrom"
contact = "Chase Sunstrom <casunstrom@gmail.com>"

[dependencies]
directory = "vendor"

[dependencies.git]
# TOML parsing library - using latest main branch
tomlplusplus = { url = "https://github.com/marzer/tomlplusplus.git", tag = "v3.4.0", link = false }
# Formatting library - using latest main branch
fmt = { url = "https://github.com/fmtlib/fmt.git", tag = "11.1.4" }
